{# The contents for a dataset popover.

   id - the id of the dataset
   num_resources - the dataset's number of resources
   license_title - the dataset's license title

#}
<div class="context-info">
  <div class="nums">
    <h5>
      WORK IN PROGRESS<br>
      Data transformation to RDF status:
    </h5>
    <p id="dataretrieval_status"></p>
    <br>
    <span style="word-break: keep-all;">
      If you want to can start the transformation with the following button.
      Please note that it can take a while. Refresh this page if it takes too long to see the new status.
    </span>
    <br>
    <button id="dataretrieval_start">
      Start
    </button>
  </div>
  <br>
  <div class="license">
    <dl>
      <dt>License</dt>
      <dd>{{ license_title }}</dd>
    </dl>
  </div>

  <div class="clearfix"></div>

</div>
<script>
let pgk = '{{ extras }}'.replaceAll("&#39;", "\"")
  .replaceAll("u\"", "\"")
  .replaceAll("None,", "null,")
  .replaceAll("True,", "true,")
  .replaceAll("False,", "false,");
console.log(pgk);
console.log(JSON.parse(pgk));
var extras = JSON.parse(pgk);
let nomad_id = "dummy";
extras.forEach((e) => {
  if (e.key === "Identifier")
    console.log(e.value);
    nomad_id = e.value;
  });
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var json = JSON.parse(this.responseText);
    console.log(json);
    $("#dataretrieval_status").html(json.status);
  }
};
function getServiceURL() {
  let port = "";
  if (location.host === "localhost")
    port = ":8080"
  return location.protocol+"//dataretrieval."+location.host+port;
}
xhr.open("GET", getServiceURL()+"/mapping?id="+nomad_id+"&repository=NOMAD", true);
xhr.send();

</script>